<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="bootstrap default admin template">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" src="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        {% block stylesheets %} {% endblock %}
    </head>
    <body>
    <div class="loader-overlay">
        <div class="loader-preview-area">
            <div class="spinners">
                <div class="loader">
                    <div class="rotating-plane"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        {% block header %} {% endblock %}
        <div class="search-overlay">
            <div class="float-default search">
                <div class="search_bg"></div>
                <div class="right-icon search_box">
                    <div class="search-div">
                        <input type="text" class="search_input">
                        <label class="search-input-label">
                            <span class="input-label-title">Search</span>
                        </label>
                    </div>
                    <div class="divider50"></div>
                    <div class="search-result">
                        <div class="search-item">
                            <div class="search-image float-xs-left">
                                <img src="../../../assets/global/image/guitar.jpg" alt="search-image">
                            </div>
                            <div class="search-info float-xs-right">
                                <h3 class="title">Search here</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus diam quis arcu lobortis sagittis. Etiam eu ornare mi. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                            </div>
                        </div>
                        <div class="divider15"></div>
                        <div class="search-item">
                            <div class="search-info search-full float-xs-right">
                                <h3 class="title">Admin templates</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus diam quis arcu lobortis sagittis. Etiam eu ornare mi. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                            </div>
                        </div>
                        <div class="divider15"></div>
                        <div class="search-item">
                            <div class="search-image float-xs-left">
                                <img src="../../../assets/global/image/book-flower.jpg" alt="search-image">
                            </div>
                            <div class="search-info float-xs-right">
                                <h3 class="title">Books</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus diam quis arcu lobortis sagittis. Etiam eu ornare mi. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search_close icon_close"></div>
            </div>
        </div>

        <section id="main" class="container-fluid">
        {% block body %}{% endblock %}
         <!--<footer id="footer">
                Copyright&copy; 2017, All Rights Reserved.
            </footer>-->
        </section>
    </div>
        {% block javascripts %}{% endblock %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    </body>
</html>
