<style type="text/css">
    table{width: 100%; border-collapse: collapse}
    .header td{width: 50%; vertical-align: top}
    .text-left{text-align: left}
    .text-right{text-align: right}
    .text-center{text-align: center}
    .separator{height: 150%; width: 100%}
    .content td{border :solid 1px #cc3f4c; padding:  5px;}
    .content th{border :solid 1px #cc3f4c; padding:  5px; background-color: #0a6aa1; color: #0a8998}
</style>

<page backtop="20mm" backright="10mm" backbottom="20mm" backleft="10mm">

    <table class="header">
        <tr>
            <td class="text-left">
                <b>Prénom Nom</b>
                <br>Adreesse
                <br>Code Postal
                <br>Pays
            </td>
            <td class="text-right">
                <b>Prénom Nom</b>
                <br>Adreesse
                <br>Code Postal
                <br>Pays
            </td>
        </tr>
    </table>
    <div class="separator"></div>
</page>