<aside id="sidebar">
    <div class="sidebar-search">
        <input id="live-search-box" type="search" class="form-control input-sm" placeholder="Search...">
        <a href="javascript:void(0)"><i class="search-close icon_search"></i></a>
    </div>
    <div class="sidebar-menu">
        <ul class="nav site-menu live-search-list" id="site-menu" data-plugin="custom-scroll" data-suppress-scroll-x="true" data-height="100%">
            <li class="menu-title">
                <a href="{{ path('super_admin_homepage') }}">
                    <i class="icon fa fa-dashboard"></i> <span> Dashboard</span>
                </a>
            </li>
            <li class="menu-title">
                <a href="{{ path('super_admin_client') }}">
                    <i class="icon fa fa-users"></i> <span> Client</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-extra">
        <a href="#"><i class="icon_lock-open_alt"></i></a>
        <a href="#"><i class="icon_key_alt"></i></a>
        <a href="#"><i class="icon_lock_alt"></i></a>
    </div>
</aside>

